.userDetailsBox{
    max-height: 90vh;
    overflow-y: auto;
    position: absolute;
    top: 70px;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(58, 53, 53, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    margin-left: 220px;
    width: 60%;
    height: auto;
}

.previousOrdersBox {
    max-height: 90vh;
    overflow-y: auto;
    position: absolute;
    top: 70px;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(58, 53, 53, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    margin-left: 220px;
    width: 60%;
    height: auto;
}







/* Previous orders boxes inside previousOrdersBox*/
.orderDetails {
    flex: 1;
    width: auto;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(58, 53, 53, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}