.five-day-conditions {
    display: flex;
    flex-direction: column;
}

.forecast {
    position: relative;
    margin-bottom: 2px; /* Adjust this value as needed */
    border-radius: 10px; /* This rounds the corners of the box */
    background-color: rgba(128, 128, 128, 0.5); /* This sets the background to a semi-transparent grey */
    padding: -10px 10px; /* This adds some space around the content inside the box */
    color: white; /* This sets the text color to white */
}

.forecast-details {
    position: fixed;
    top: 80px; /* Adjust this value as needed */
    right: 1100px; /* Adjust this value as needed */
    width: 300px; /* Adjust this value as needed */
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    display: none;
    color: black;
}

.forecast-details.active {
    display: block;
}

.forecast.active {
    background-color: rgba(255, 255, 255, 0.8); /* This sets the background to a semi-transparent white */
    color: black; /* This sets the text color to black */
}