.five-day-conditions {
    display: flex;
    flex-direction: column;
}

.forecast {
    position: relative;
}

.forecast-details {
    position: fixed;
    top: 80px; /* Adjust this value as needed */
    right: 1100px; /* Adjust this value as needed */
    width: 300px; /* Adjust this value as needed */
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    display: none;
}

.forecast-details.active {
    display: block;
}