/***************** Positions Employee and User management boxes *****************/
.adminAccountContainer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-left: 220px;
}

/***************** Styling for Employee and User management boxes *****************/
.employeeManagementBox,
.userManagementBox {
    position: absolute;
    top: 70px;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(58, 53, 53, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 60%;
    height: auto;
}

/***************** Styling for Employee and User management boxes common buttons *****************/
.employeeManagementBox button,
.userManagementBox button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}