.cart-container {
    position: absolute;
    top: 100px;
    left: 25%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    width: 800px !important;
}

.cart-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.cart-header, .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.cart-header > h4, .cart-item > h4 {
    margin: 0;
    flex-basis: 33%;
}

.cart-header > h4, .cart-item > p {
    margin: 0;
    flex-basis: 33%;
}

.cart-item {
    border-bottom: 1px solid #ccc;
}

.cart-item > p, .cart-item > h4 {
    margin: 0;
    flex-basis: 18%;
    text-align: center; /* Add this line */
}

.send-order-button {
    margin: 40px 0 0 0;
    background-color: green;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.cart-total {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
    border-top: 3px solid #ccc;
}

.cart-total > h4 {
    flex-basis: 22%;
}

.total-price-text {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.order-container {
    background-color: #f0f0f0; /* Replace with your preferred color */
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}