.sidebar {
    position: fixed;
    left: 0;
    top: 80px;
    height: 100%;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

.sidebar p {
    cursor: pointer;
}

.sidebar .welcome-message {
    cursor: auto;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.employeeAccountContainer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-left: 220px;
}

.updateEmployeeDetailsBox,
.productManagementBox {
    display: flex;
    width: 80%;
    position: absolute;
    top: 70px;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(58, 53, 53, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    height: auto;
}

.productDisplayBox {
    flex: 1;
    width: auto;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(58, 53, 53, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    max-height: 80vh; /* adjust this value as needed */
    overflow-y: auto;
}

.form-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.employeeDetails {
    margin-bottom: 20px;
}

.productManagementBox button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.productManagementBox button:hover {
    background-color: #45a049;
}

.productDisplayBox div {
    cursor: pointer;
}

.category-sort div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.category-dropdown {
    width: 158px;
}

.create-button {
    width: 100px;
}

.delete-field {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.column {
    border-right: 1px solid #000;
    padding-right: 20px;
    margin-right: 20px;
}

.liftDetails1 {
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 10px;
    position: absolute;
    top: 80px;
    margin-left: 0;
}

.liftDetails2 {
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 10px;
    position: absolute;
    top: 270px;
    margin-left: 0;
}

.liftControlBox button {
    /* Set the color of the text inside the buttons to white */
    color: white;
}

.liftControlBox button.start {
    /* Set the background color of the start button to green */
    background-color: green;
}

.liftControlBox button.stop {
    /* Set the background color of the stop button to red */
    background-color: red;
}