.employeeAccountContainer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.updateEmployeeDetailsBox {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(58, 53, 53, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    height: auto;
}

.form-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.employeeDetails {
    margin-bottom: 20px;
}

.productManagementBox {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(58, 53, 53, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    height: auto;
}

.productManagementBox .form-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productManagementBox button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4CAF50; /* for example */
    color: white;
    border: none;
    cursor: pointer;
}

.productManagementBox button:hover {
    background-color: #45a049; /* for example */
}