.box1 {
    position: absolute;
    top: 100px;
    left: 270px;
    background-color: rgb(255, 104, 34, 0.3);
    color: rgba(255, 255, 255);
    border-radius: 10px;
    padding: 2px;
    margin: 10px;
    width: 400px;
}

.box2 {
    position: absolute;
    top: 250px;
    left: 750px;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(58, 53, 53, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 300px;
}

.box3 {
    position: absolute;
    top: 300px;
    left: 1150px;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(58, 53, 53, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 250px;
}

.sidebar-home {
    position: fixed;
    left: 0;
    top: 80px;
    height: 100%;
    width: 230px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

.text {
    color: black;
}


.welcome-box {
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(58, 53, 53, 0.5);
    border-radius: 5px;
    padding: 3px;
    margin: 1px;
}

.news1  {
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(58, 53, 53, 0.5);
    border-radius: 5px;
    padding: 3px;
    margin: 1px;
}

.news2  {
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(58, 53, 53, 0.5);
    border-radius: 5px;
    padding: 3px;
    margin: 1px;
}

.news3  {
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(58, 53, 53, 0.5);
    border-radius: 5px;
    padding: 3px;
    margin: 1px;
}

@keyframes moveInRectangle {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(40px, 0);
    }
    50% {
        transform: translate(40px, 100px);
    }
    75% {
        transform: translate(0, 100px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.sidebar-status-light.green {
    background-color: green;
    animation: moveInRectangle 18s linear infinite;
    margin-left: 5px;
}

.sidebar-status-light.red {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    margin-left: 5px;
}

.sidebar-status-light {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.lift-container {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    height: 200px;
}

.path-rectangle {
    position: absolute;
    width: 40px;
    height: 100px;
    border: 1px solid black;
    top: 178px;
    left: 41px;
}

.path-rectangle2 {
    position: absolute;
    width: 40px;
    height: 100px;
    border: 1px solid black;
    top: 388px;
    left: 41px;
}

.Lift-name-1 {
    position: absolute;
    top: 10px;
    left: 50px;
    font-family: Lato sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.Lift-name-2 {
    position: absolute;
    top: 10px;
    left: 50px;
    font-family: Lato sans-serif;
    font-weight: bold;
    font-size: 12px;
}

