/********************** Main sign-up box styles **********************/
.signUp-box {
    width: 200px;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 10px; /* Adjust as needed */
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: auto;
    margin-right: 50px;
}

/********************** Button styles **********************/
.confirmation-container {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    margin-top: -5px;
    text-align: center;
    font-size: 18px;
}

/********************** Username already taken styles **********************/
.username-taken-box {
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffffff;
    color: red;
    margin-top: 10px;
    text-align: center;
}