#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background-image: url('/mainbackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  min-width: 250px;
  min-height: 100vh;
  max-height: 100vh; 
  overflow: hidden;
}

@media (max-width: 768px) {
  body {
    background-image: url('/mainbackgroundmobile.jpg');
  }
}